.container {
  margin: 0 auto;
  width: 390px;
  height: 100vh;
  background: #fafafa;
  overflow: hidden;
}

.list {
  height: auto; /* 175px */
  width: 366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
  overflow: visible;
}
