.container {
  margin: 0 auto;
  width: 90vw;
  height: 90vh;
  max-width: 475px;
  max-height: 875px;
  display: flex;
  flex-direction: column;
  background: #F4F2FF;
  overflow: hidden;
padding: 12px;
  border-radius: 12px;

}

.list {
  height: auto; /* 175px */

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
  overflow: visible;
}
